<!DOCTYPE html>
<html dir="ltr" lang="en" class="dark-layout">

<head>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Fix Appointment with CHET for your Convoy Supervision" />
    <meta name="keywords"
        content="Convoys, Events, TruckersMP Convoys, ConvoyHub, Convoy Hub, Convoy, Events, About, Appointment CHET" />
    <meta name="author" content="ConvoyHub" />

    <!-- Site Data -->
    <meta property="og:site_name" content="ConvoyHub" />
    <meta property="og:title" content="Appointment | CHET" />
    <meta property="og:url" content="https://escortconvoyhub.in/appointment" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Fix Appointment with CHET for your Convoy Supervision" />
    <meta property="og:image" content="/images/apple-touch-icon-144x144.png" />
    <meta name="theme-color" content="#F16432">

    <!-- Page Title -->
    <title>Appointment | CHET</title>

    <!-- Favicon and Touch Icons -->
    <link href="https://convoyhub.in/escort/images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="https://convoyhub.in/escort/images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://convoyhub.in/escort/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="https://convoyhub.in/escort/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="https://convoyhub.in/escort/images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

    <!-- Stylesheet -->
    <link href="https://convoyhub.in/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://convoyhub.in/css/bootstrap-extended.min.css" rel="stylesheet" type="text/css">
    <link href="https://convoyhub.in/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="https://convoyhub.in/css/animate.css" rel="stylesheet" type="text/css">
    <link href="https://convoyhub.in/css/css-plugin-collections.css" rel="stylesheet" />
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="https://convoyhub.in/css/menuzord-skins/menuzord-boxed.css" rel="stylesheet" />
    <!-- CSS | Main style file -->
    <link href="/css/style-main.css" rel="stylesheet" type="text/css">
    <link href="https://convoyhub.in/css/style-main-dark.css" rel="stylesheet" type="text/css">
    <!-- CSS | Theme Color -->
    <link href="/css/colors/theme-skin-escort.css" rel="stylesheet" type="text/css">
    <!-- CSS | Preloader Styles -->
    <link href="https://convoyhub.in/css/preloader.css" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="https://convoyhub.in/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="https://convoyhub.in/css/responsive.css" rel="stylesheet" type="text/css">


    <!-- Revolution Slider 5.x CSS settings -->
    <link href="/js/revolution-slider/css/settings.css" rel="stylesheet" type="text/css" />
    <link href="/js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css" />
    <link href="/js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css" />

    <!-- external javascripts -->
    <script src="https://convoyhub.in/js/jquery-2.2.0.min.js"></script>
    <script src="https://convoyhub.in/js/jquery-ui.min.js"></script>
    <script src="https://convoyhub.in/js/bootstrap.min.js"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="https://convoyhub.in/js/jquery-plugin-collection.js"></script>

    <!-- Revolution Slider 5.x SCRIPTS -->
    <script src="/js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>

    <link href="https://convoyhub.in/css/dark-layout.min.css" rel="stylesheet" type="text/css">
    <link href="https://convoyhub.in/css/colors.min.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/c22d112cf6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="https://convoyhub.in/css/ext-component-sweet-alerts.min.css">
    <link rel="stylesheet" type="text/css" href="https://convoyhub.in/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="https://convoyhub.in/css/convoy.css">

    <style>
        .rows,
        .row {
            --bs-gutter-x: 2rem;
            --bs-gutter-y: 0;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-top: calc(var(--bs-gutter-y) * -1);
            margin-right: calc(var(--bs-gutter-x) * -.5);
            margin-left: calc(var(--bs-gutter-x) * -.5);
        }

        .p-50 {
            padding: 0.5rem !important;
            width: fit-content;
        }

        .table-responsive {
            overflow: visible !important;
        }

        .team-card {
            position: relative;
            background: rgba(255, 255, 255, .05);
            margin: 40px;
            box-shadow: 0 15px 35px rgb(0 0 0 / 20%);
            border-radius: 15px;
            border-left: 2px solid rgba(255, 255, 255, .61);
            border-top: 2px solid rgba(255, 255, 255, .61);
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding: 10px;
            padding-bottom: 20px;
            backdrop-filter: blur(10px);
        }
    </style>
</head>

<body class="dark">
    <div id="wrapper">
        <!-- preloader -->
        <div id="preloader">
            <div id="spinner">
                <div class="col-md-2">
                    <div class="preloader-fountainTextG">
                        <div id="fountainTextG_1" class="fountainTextG">L</div>
                        <div id="fountainTextG_2" class="fountainTextG">o</div>
                        <div id="fountainTextG_3" class="fountainTextG">a</div>
                        <div id="fountainTextG_4" class="fountainTextG">d</div>
                        <div id="fountainTextG_5" class="fountainTextG">i</div>
                        <div id="fountainTextG_6" class="fountainTextG">n</div>
                        <div id="fountainTextG_7" class="fountainTextG">g</div>
                    </div>
                </div>
            </div>
            <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
        </div>

        <!-- Header -->
        <header class="header">
            <div
                class="header-nav navbar-fixed-top navbar-dark navbar-transparent navbar-sticky-animated animated-active">
                <div class="header-nav-wrapper">
                    <div class="container">
                        <nav id="menuzord-right" class="menuzord escort">
                            <a class="menuzord-brand pull-left flip" href="/">
                                <img src="/images/logo-wide.png">
                            </a>
                            <ul class="menuzord-menu">
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a href="/about">About</a>
                                </li>
                                <li class="active">
                                    <a href="/appointment">Appointment</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Recruitment</a>
                                    <ul class="dropdown">
                                        <li><a href="/recruitment/ccc">CC Car</a></li>
                                        <li><a href="/recruitment/cct">CC truck</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Information</a>
                                    <ul class="dropdown">
                                        <li><a href="/team">Staff Team</a></li>
                                        <li><a href="/patreon">Patreon</a></li>
                                    </ul>
                                </li>
                                <% if (!loggedIn) { %>
                                    <li style="margin-left: 30px;">
                                        <a href="/login" class="btn btn-escort btn-theme-colored btn-lg">
                                            <i class="fa-solid fa-arrow-right-to-bracket"></i> Login
                                        </a>
                                    </li>
                                    <% } else { %>
                                        <li style="margin-left: 30px;">
                                            <a href="/logout" class="btn btn-danger btn-theme-colored btn-lg">
                                                <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout
                                            </a>
                                        </li>
                                        <% } %>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <!-- Start main-content -->
        <div class="main-content">
            <section class="inner-header divider parallax layer-overlay overlay-dark-5"
                data-stellar-background-ratio="0.5"
                style="background: url('/images/escort/3.png') no-repeat; height: 500px; object-fit: cover;">
                <div class="container pb-30" style="padding-top: 250px;">
                    <!-- Section Content -->
                    <div class="section-content pt-100">
                        <div class="row" style="flex-direction: column;">
                            <div class="col-md-12">
                                <h3 class="title text-white">Appointment</h2>
                            </div>
                            <div class="col-md-12">
                                <ol class="breadcrumb text-center mt-10 white">
                                    <li><a href="/">Home</a></li>
                                    <li class="active">Appointment</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Section: slot list -->
            <section class="clock-section">
                <!-- <div class="row mt-50" style="justify-content: center;"> -->
                <div class="col-lg-10" style="float: none; z-index: 1;">
                    <div class="team-card">
                        <div class="row">
                            <div class="table-responsive" style="width: 100%;">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Application By</td>
                                            <td>
                                                <%= app.organiser.name %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Event Name</td>
                                            <td>
                                                <%= app.name %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Requested At</td>
                                            <td>
                                                <%= new Date(app.time).toUTCString() %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Last Updated</td>
                                            <td>
                                                <%= new Date(app.lastUpdated || Date.now()).toUTCString() %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Status</td>
                                            <td>
                                                <span class="badge rounded-pill me-1 status--<%= app.status %>">
                                                    <%= app.status.toUpperCase() %>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Claimed By</td>
                                            <td>
                                                <%= app.claimedBy %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Event Link</td>
                                            <td>
                                                <a href="https://www.convoyhub.in/event/<%= app.eventID %>"
                                                    target="_blank">
                                                    https://www.convoyhub.in/event/<%= app.eventID %>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Message</td>
                                            <td>
                                                <%= app.message %>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-6 mb-10" style="min-height: fit-content;">
                                <button type="button" class="btn btn-outline-success" id="accept"
                                    onclick="status(this.id)" style="width: 100%;">Accept</button>
                            </div>
                            <div class="col-lg-6 mb-10" style="min-height: fit-content;">
                                <button type="button" class="btn btn-outline-danger" id="declined"
                                    onclick="status(this.id)" style="width: 100%;">Decline</button>
                            </div>
                            <div class="col-lg-12 mb-10"
                                style="min-height: fit-content; display: flex; flex-direction: column; align-items: center;">
                                <div class="col-lg-6" style="float: none;">
                                    <button type="button" class="btn btn-outline-warning" id="hold"
                                        onclick="status(this.id)" style="width: 100%;">Hold</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </section>
        </div>
        <!-- end main-content -->

        <!-- Footer -->
        <footer id="footer" class="footer" data-bg-color="#121212">
            <div class="container pt-60 pb-30">
                <div class="row">
                    <div class="col-lg-4 text-center">
                        <img src="/images/apple-touch-icon-72x72.png" alt="">
                        <p class="font-12 mt-20 mb-20">
                            We are a convoy Supervising organization, established in summer of 2022. We offer
                            professional convoy management / supervision to make sure your convoy run smooth without any
                            hindrance.
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-3">
                        <div class="widget dark">
                            <h6 class="widget-title line-bottom">Quick Links</h6>
                            <ul class="list-border list theme-colored angle-double-right">
                                <li><a href="/appointment">Appointment</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/team">Meet our Team</a></li>
                                <li><a href="/patreon">Patreon</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3">
                        <div class="widget dark">
                            <h6 class="widget-title line-bottom">Support ConvoyHub</h6>
                            <div class="latest-posts">
                                <p>
                                    If you like our work and want to help support our community grow more, please
                                    consider becoming a Patron or donating. Every donation helps us to improve your
                                    experiences.
                                </p>
                                <a href="https://www.patreon.com/convoyhub">
                                    <button class="btn btn-danger btn-circled">
                                        <i class="fa-brands fa-patreon"></i>
                                        Become a Patreon
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid p-20" data-bg-color="#181818">
                <div class="row text-center">
                    <div class="col-lg-6">
                        <p class="font-11 m-0" data-text-color="#555">Copyright &copy;2022
                            <a class="font-11" href="/">ConvoyHub</a>. All Rights Reserved
                        </p>
                    </div>
                    <ul class="social-icons flat medium list-inline mb-40">
                        <li>
                            <a href="https://discord.gg/jdcGKSanNj" target="_blank">
                                <i class="fa-brands fa-discord"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/convoyhub" target="_blank">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCU8TQxwbW77eIFQ2TkAe_XA" target="_blank">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/convoyhub" target="_blank">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- end wrapper -->

    <!-- Footer Scripts -->
    <!-- JS | Custom script for all pages -->
    <script src="https://convoyhub.in/js/custom.js"></script>

    <script type="text/javascript"
        src="/js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript"
        src="/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript"
        src="/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript"
        src="/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript"
        src="/js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript"
        src="/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript"
        src="/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript"
        src="/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="/js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>

    <script src="https://convoyhub.in/js/sweetalert2.all.min.js"></script>
    <script>
        function status(id) {
            const button = document.getElementById(id)
            if (button) {
                button.disabled = true;
            }

            const user = "<%= data.username %>"
            const userID = "<%= data.userID %>"

            const option = {
                method: "POST",
                headers: {
                    "content-type": "application/json"
                },
                body: JSON.stringify({
                    status: id,
                    claimedBy: user,
                    claimedByID: userID
                })
            }

            fetch(`/appointments/<%= app.appointmentID %>`, option).then((body) => {
                return body.json()
            }).then((json) => {
                if (json.success) {
                    Swal.fire({
                        title: "Success!",
                        text: json.message,
                        icon: "success",
                        customClass: {
                            confirmButton: "btn btn-primary"
                        },
                        buttonsStyling: !1
                    }).then((d) => {
                        button.innerHTML = "Submitted"
                        if (d.isConfirmed) { location.reload() }
                    })
                } else {
                    Swal.fire({
                        title: "Error!",
                        text: json.message,
                        icon: "error",
                        customClass: {
                            confirmButton: "btn btn-primary"
                        },
                        buttonsStyling: !1
                    }).then(() => {
                        button.innerHTML = "Error!"
                    })
                }
            }).catch((err) => {
                console.log(err)
                Swal.fire({
                    title: "Error!",
                    text: String(err),
                    icon: "error",
                    customClass: {
                        confirmButton: "btn btn-primary"
                    },
                    buttonsStyling: !1
                }).then(() => {
                    button.innerHTML = "Error!"
                })
            })
        }
    </script>
</body>

</html>